<launch>
    <node pkg="ece4191" name="motor_control"
    type="motor_control.py" output="screen" respawn="true" />

    <node pkg="ece4191" name="motor_control_2"
    type="motor_control_2.py" output="screen" respawn="true" />

    <node pkg="ece4191" name="encoder"
    type="encoder.py" output="screen" respawn="true" />

    <!-- <node pkg="ece4191" name="encoder_2"
    type="encoder_2.py" output="screen" respawn="true" /> -->

    <node pkg="ece4191" name="distance_sensor_cluster"
    type="distance_sensor_cluster.py" output="screen" respawn="true" />

    <node pkg="ece4191" name="localisation"
    type="localisation.py" output="screen" respawn="true" />

    <node pkg="ece4191" name="collision"
    type="collision.py" output="screen" respawn="true" />
</launch>